<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	    			<li>Dr. Henry Roe: </li>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
		        	<li><a href="/pluto">Pluto</a></li>
	        		<!--<li><a href="/cv">CV</a></li>-->
	        		<!--<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hroe@hroe.me">email</a></li>
	        		<li><a href="https://github.com/henryroe">github.com/henryroe</a></li>
				</ul>
			</footer>
		</body>
	</html>
